@model LiveScore.Models.PlayerModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/Image3D.css" />
<!-- Image and text -->
<div class="col-10">
    <img src="~/images/avatar.jpg" width="50" height="50" class="d-inline-block align-top rounded-circle" alt="Image.."> <font size="6"> &nbsp Details Of Player</font>
    
</div>

<br />
<br />
<div>    
    <dl class="row">
        <dt class="col-sm-2">
            Player Image
        </dt>
        <dd class="col-sm-10">
            <div class="card" style="width: 16rem;">
                <div class="img23d">
                @if (string.IsNullOrEmpty(@Model.FileName))
                {
                    <img class="card-img-top" src="/images/avatar.jpg" alt="Card image cap" style="width : 250px;" height="250">
                }
                else
                {
                    <img class="card-img-top" src="/uploads/@Model.FileName" alt="Card image cap" style="width : 250px" height="250">
                }
                </div>
            </div>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBatsman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBatsman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BattingStyle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BattingStyle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BowlingStyle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BowlingStyle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
