@model LiveScore.Models.MatchModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MatchModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamOne.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamTwo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WinnerTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WinnerTeam.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoosingTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoosingTeam.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstTeamTotalRun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstTeamTotalRun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstTeamTotalWicket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstTeamTotalWicket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondTeamTotalRun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondTeamTotalRun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondTeamTotalWicket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondTeamTotalWicket)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
